### --- FRONT / ORACLE JET ---

/almacen-ui/node_modules/
/almacen-ui/web/
/almacen-ui/dist/
/almacen-ui/staging/

/almacen-ui/npm-debug.log*
/almacen-ui/yarn-debug.log*
/almacen-ui/yarn-error.log*

/almacen-ui/.env
/almacen-ui/.env.local
/almacen-ui/.cache/


### --- BACKEND / JAVA ---

/almacen-backend/target/

# Maven
#/almacen-backend/.mvn/wrapper/maven-wrapper.jar

# Si SÍ usas Maven Wrapper, comenta la línea anterior.
# Normalmente conviene subir:
# almacen-backend/mvnw
# almacen-backend/mvnw.cmd
# almacen-backend/.mvn/wrapper/maven-wrapper.properties
# almacen-backend/.mvn/wrapper/maven-wrapper.jar


### --- SPRING TOOL SUITE / ECLIPSE ---

/almacen-backend/.apt_generated/
/almacen-backend/.classpath
/almacen-backend/.factorypath
/almacen-backend/.project
/almacen-backend/.settings/
/almacen-backend/.springBeans
/almacen-backend/.sts4-cache/


### --- INTELLIJ ---

/almacen-backend/.idea/
/almacen-ui/.idea/

*.iml


### --- VS CODE ---

/almacen-backend/.vscode/
/almacen-ui/.vscode/


### --- OS ---

.DS_Store
Thumbs.db


### --- DOCKER ---

/.env
/db/backups/


### --- CLAUDE CODE ---

/.claude/